{% extends "base.html" %}

{% block content %}
  <h1>
      TODO list
      <a style="float: right" href="{% url 'todo:task-create' %}">Add task</a>
  </h1>
  {% if task_list %}
    <ul>
      {% for task in task_list %}
        <li>
            {{ task.content }}
            {% if task.complete %}
                Done
             <a style="float: right" href="{% url 'todo:task-complete' pk=task.id %}">Undo</a>
            {% else %}
                Not done
                <a style="float: right" href="{% url 'todo:task-complete' pk=task.id %}">Complete</a>
            {% endif %}
        Created: {{ task.created }}
        Deadline: {{ task.deadline }}
        Tags:
        {% for tag in task.tags.all %}
            {{ tag.name }}
        {% endfor %}
        <a href="{% url 'todo:task-update' pk=task.id %}">UPDATE</a>
        <a href="{% url 'todo:task-delete' pk=task.id %}">DELETE</a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no tasks in TODO list</p>
  {% endif %}
{% endblock %}
